@media screen and (min-width: 768px) {
    .main-header {

        .nav-container {

            .navBar {
                a {
                    transition: all 250ms linear;

                    &:hover {
                        border-bottom: 1px solid rgb(255, 140, 0);

                    }
                }
            }

            .open-nav {
                width: 35%;
                border: 1px solid black;
            }

            .burgerMenu {
                .close-icon {
                    font-size: 2.3rem;
                }
            }
        }
    }
}