@media screen and  (min-width: 768px){
    .like-contianer{
        border: 1px solid;
    
        position: absolute;
        right: -100;
        background-color: white;
        top: 0%;
        // transform: translateY(-39%);
        border-radius: 5px;
    
        .like-heading-close-container{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
    
          margin: 30px 0;
    
    
            .like-close-icon{
                font-size: 1.5rem;
                position: absolute;
                left: 4%;
                transform: translateX(-4%);
            }
    
            .like-heading{
                text-decoration: underline;
              }
        }
       
    };

.open-like-container{
    visibility: visible;
    right: 0%;
    width: 36%;
    height: 72vh;
   
    };
    
    .like-products{
        display: flex;
    flex-direction: column;
    padding: 0 5px;
    overflow: visible;
    

        
        .like-products-container{
            display: flex;
            border-bottom: 1px solid rgb(208, 208, 208);
            padding: 20px 0;
    
    
         
            .like-img-container{
                width: 15%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                img{
                    width: 100%;
                }
            }
    
    
    
            .like-proporties{
            width: 70%;
    
            .like-product-name{
                
            }
    
            .like-product-functions{
                display: block;
                width: 85%;
                text-wrap:nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            
            }
    
            .like-product-price{
                font-size: .9rem;
                
            }
    
            }
    
            .like-icons-container{
                width: 15%;
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                .cart-div{
                    background-color: rgb(0, 0, 0);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 5px;
    
                    width: 75%;
    
                    padding: 5px 0;
    
                    i{
                        color: white;
                    }
                };
    
                .delete-div{
                    border: 1px solid rgb(208, 208, 208);
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    width: 75%;
    
                    padding: 5px 0;
    
                    i{
    
                    };
                };
            };
        };       
    };
    
    //CART SHOPPING
    .shopping-cart-container{
        top: 29%;
        transform: translateY(-29%);
        border: 1px solid;
    
        .cart-heading-close-container{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 30px 0;
            
            .shopping-close-icon{
                font-size: 1.9rem;
                position: absolute;
                left: 4%;
                transform: translateX(-4%);
            }
    
            .cart-heading{
              text-decoration: underline;
            }
        }
    
        .checkoutdiv{
       border-bottom: 1px solid;
    //    border-top: 1px solid;
       display: flex;
       justify-content: space-between;
       height: auto;
       padding: 25px;
    
       .total-price{
        width: 45%;
        font-size: 1.2rem;
       }
    
       button{
        width: 45%;
        padding: 5px 0;
        background-color: black;
        border-style: hidden;
        border-radius: 5px;
    
        a{
            text-decoration: none;
            color: white;
           
        }
       }
    
    }
    }
    
    .open-shopping-container{
        display: block;
    
        left: 70%;
        width: 30%;
        height: 60vh;
        
    }
    
    .shopping-products{
        width: 100%;
        height: 75vh;
        // position: relative;
    
        display: flex;
        flex-direction: column;
        padding: 0 5px;
        overflow: scroll;
    
        // border: 1px solid;
    
        .cart-products-container{
            display: flex;
            border-bottom: 1px solid rgb(208, 208, 208);
            padding: 20px 0;
            position: relative;
    
            .cart-img-container{
                width: 15%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                img{
                    width: 100%;
                }
            }
    
            
            .cart-proporties{
                width: 70%;
        
                .cart-product-name{
                    
                }
        
                .cart-product-functions{
                    display: block;
                    width: 85%;
                    text-wrap:nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                
                }
        
                .cart-product-price{
                    font-size: .9rem;
                    
                }
                }
    
                .cart-qty-cart-icon-container{
                    width: 15%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    
    
                    .delete-div{
                        border: 1px solid rgb(255, 0, 0);
                     
                        color: rgb(255, 0, 0);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 5px;
                        
                        width: 75%;
                        padding: 5px 0;
                    }
                    .cart-input{
                        width: 75%;
    
                        input{
                            width: 100%;
                            padding: 5px 0;
                            text-align: center;
                            border: 1px solid rgb(208, 208, 208);
                        }
                    }
    
                }
        }
    }
    
    
}
