@media screen and  (min-width: 768px){

    .ditails-product-container{
        height: 100%;
        margin-bottom: 50px;
        
        .close-icon-div{
            width: 75%;
            margin: 0 auto;
            
            i{
                cursor: pointer;
                transition: all .3s linear;

                &:hover{
                    color: rgb(255, 140, 0)
                }
            }

        }
   

    .ditails-container{
        width: 60%;
        height: 100%;

        margin: 10px auto;
        overflow: initial;
        
        .img-container{
            width: 30%;
            margin: 50px auto;
            
            img{
                width: 100%;
            }
        }   

        .ditails-cart-qty{
            display: flex;
            justify-content: end;
            align-items: center;
            position: relative;
            

            
        
            input{
                width: 5%;
                margin: 0 5px;
            }
    
            button{
                width: 30%; 
                cursor: pointer;
                transition: all .3s linear;

                &:hover{
                    background-color: rgb(255, 140, 0);
                }
            }
        }

        .ditails-price{
            font-size: 1.7rem;
            padding: 0 12px; 
            position: absolute;
        }
    
        
    }

    
     border-bottom: none;
}
}