.cart-container {
    display: none;
}

.open-cart-container {
    display: block;
    width: 100%;
    position: absolute;
    background-color: white;
    border-radius: 6px;
    right: 0;
    top: 0%;
    transform: translate(-0%, -0%);
    height: 100vh;

    .cart-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        
        .checkoutdiv {
            display: flex;
            flex-direction: column;

            padding: 0 20px;
            border-top: 1px solid;
            height: auto;

            p {
                margin: 15px 0;
                font-size: 1.3rem;
            }

            .price-container {
                display: flex;
                justify-content: space-between;
                margin: 0 0 15px;

                h6 {
                    font-weight: bold;
                    font-size: 1.3rem;
                }
            }

            button {
                background-color: rgb(255, 181, 90);
                border: none;
                border-radius: 5px;

                a {
                    display: inline-block;
                    padding: 9px 0;
                    width: 100%;
                    color: white;
                    text-decoration: none;
                }
            }
        }

        .shopping-products {
            height: 70vh;
            overflow-y: scroll;
            margin-top: 50px;

            .cart-products-container {
                display: flex;
                padding: 20px;
                border-bottom: 1px solid rgb(195, 195, 195);

                .cart-img-container {
                    width: 23%;

                    img {
                        width: 100%;
                    }
                }

                .cart-proporties {
                    width: 65%;
                    margin-left: 20px;

                    .cart-product-name{
                        font-size: 1.2rem;
                    }
                    .cart-product-price{
                        font-size: 1.2rem;
                        font-weight: bold;
                    }

                }

                .cart-qty-cart-icon-container {
                    width: 11%;
    
                    .delete-div {
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: black;
                        padding: 6px 12px;
                        border-radius: 3px;
                        margin-bottom: 5px;
                    
                        .cart-delete {
                            font-size: 1.2rem;
                            color: white;
                        }
                    }

                    .cart-input {
                        
                        input {
                            padding: 6px 0;
                            width: 100%;
                        }
                    }
                }

                .cart-product-functions {
                    display: none;
                }
            }
        }
    }
}

#productContainer.close-product-container {
    display: none;
}

.bag-icon {
    z-index: 100;

    .close-cart-icon {
        display: none;
    }
    
    .close-ikon {
        display: none;
      }

    .open-close-icon {
        display: block;
    }

    .close-cart-qty {
        display: none;
    }
}
