.main-header {
    height: 130px;
    background-color: rgb(241, 241, 241);
    
    .company-name {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 15px 25px 0;

        h2 {
            width: auto;
            display: flex;
            align-items: center;
            margin: 0;

            a {
                text-decoration: none;
                color: rgb(255, 140, 0);
                font-size: 1.5rem;
            }
        }

        .cart-and-like-container {
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .like-container {
                padding-right: 20px;
            }
            
            .bag-icon,
            .heart-icon {
                cursor: pointer;
                width: 100%;
                position: relative;
                 
                i {
                    font-size: 1.8rem;
                }

                .qty-cart,
                .qty-like {                  
                    position: absolute;
                    top: 0;
                    right: 65%;
                    width: 1.25rem;
                    height: 1.25rem;
                    background-color: rgb(255, 167, 59);
                    border-radius: 50%;
                    text-align: center;

                    p {
                        line-height: 1.25rem;
                        font-size: 100%;
                    }
                }
            }
        }
    }

    .nav-container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .navBar {
            width: 0%;
            height: 100vh;
            transition: all 580ms linear;
            visibility: hidden;
            background-color: white;

            position: absolute;
            top: 0;
            left: -100%;

            ul {
                margin-top: 35px;
                padding: 0;

                li {
                    list-style: none;
                    padding: 20px 15px;
                    text-align: center;

                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 1.3rem;
                    }
                }
            }
        }

        .open-nav {
            visibility: visible;
            width: 85%;
            left: 0%;
        }

        .burgerMenu {
            width: auto;
            padding: 0 25px;
            transition: all 580ms linear;
            
            .burger-icon {
                display: block;
                font-size: 2.8rem;
                text-align: center;
            }
            
            .close-burger-icon {
                display: none;
                
            }
            
            .close-icon {
                visibility: hidden;
                position: absolute;
                top: 0%;
                left: -100%;
                transition: all 580ms linear;
                z-index: 1;
            }

            .open-close-icon {
                visibility: visible;
                text-align: center;
                font-size: 2.8rem;
                left: 2%;
            }
        }
    }
}


