.ditails-product-container{
    width: 100%;
    height: 100vh;
        
    .close-icon-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.185);
        padding: 10px 20px;
       
        h3{
            font-size: 1.6rem;
        }
     
        i{
            font-size: 1.8rem;
        }

    }
       
    .ditails-container{
        width: 95%;
        height: 75%;

        margin: 10px auto;
        overflow: scroll;

    .img-container{
        width: 65%;
        margin: 15px auto 35px;
       
        img{
            width: 100%;
        }
    }   

    .ditails-price{
        font-size: 1.7rem;
        padding: 12px; 
    }
    
    .ditails-cart-qty{
        
        input{
            width: 15%;
            padding: 5px 0;
            text-align: center;
            margin: 0 6px;
            border-radius: 10px;
   
        }

        button{
            width: 80%; 
            padding: 6px 0;
            border-style: hidden;
            border-radius: 10px;
            background-color: rgb(47, 47, 47);
            color: white;
        }
    }

    .ditails-properties-container{
        padding: 12px;

        h2{
            font-size: 1.2rem;
        }
        
        ul{
            padding: 12px; 
          
            li{
                list-style: circle;
            }
        }

        border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    }

    .product-ditails-container{
        padding: 12px;

        h2{
            font-size: 1.2rem;
        }

        h3{
            margin: 10px 0 5px;
        }
    }

    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
}
};

.hidden-ditails-container{
    display: none;
}
 
#productContainer.blablabla{
 margin: 0;
 display: none;
}


