.like-contianer{
   display: none;
    overflow-y: scroll;
    
    position: absolute;
    top: 0;
    right: -100;
    background-color: white;

    .like-heading-close-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

      margin: 30px 0;


        .like-close-icon{
            font-size: 1.9rem;
            position: absolute;
            left: 4%;
            transform: translateX(-4%);
        }

        .like-heading{
            text-decoration: underline;
          }
    }
   
};

.open-like-container{
display: block;
right: 0%;
width: 100%;
height: 100vh;

};

.like-products{
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    overflow: scroll;

    
    .like-products-container{
        display: flex;
        border-bottom: 1px solid rgb(208, 208, 208);
        padding: 20px 0;


     
        .like-img-container{
            width: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img{
                width: 100%;
            }
        }



        .like-proporties{
        width: 70%;

        .like-product-name{
            
        }

        .like-product-functions{
            display: block;
            width: 85%;
            text-wrap:nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        
        }

        .like-product-price{
            font-size: .9rem;
            
        }

        }

        .like-icons-container{
            width: 15%;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .cart-div{
                background-color: rgb(0, 0, 0);
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 5px;

                width: 75%;

                padding: 5px 0;

                i{
                    color: white;
                }
            };

            .delete-div{
                border: 1px solid rgb(208, 208, 208);
                display: flex;
                justify-content: center;
                align-items: center;

                width: 75%;

                padding: 5px 0;

                i{

                };
            };
        };
    };       
};






