@use "products";
@use "navbar";
@use "likecart";
@use "cart";
@use "startpage";
@use "_product-details";
@use "footer";

@use "./@media query/media-query-products";
@use "./@media query/media-query-nav";
@use "./@media query/cart-desktop";
@use "./@media query/media-query-footer";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12pt;
   
}

body{
    font-family: 'Noto Sans Indic Siyaq Numbers', sans-serif;
}

 